@charset "utf-8";

/********************************************************
■ Basic : 기본
********************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700,900,400italic,700italic');

body {
	margin : 0 auto;
}
body.is-pc .ko { font-size:12px; }
a { color: rgb(51, 51, 51); cursor: pointer; text-decoration: none; }
a:hover, a:focus, a:active {text-decoration: none; }
fieldset legend { display:none; }
label { font-weight:normal; }
label.checkbox, label.radio { line-height:12px; font-size: 12px; font-weight: normal; cursor: pointer; }
hr { margin-top: 20px; margin-bottom:20px; border:0; border-top:1px solid #eee; display:block; }
blockquote { font-size: 12px; margin:0px 0px 20px; }
.en, h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a { font-family: "Noto Sans KR", sans-serif; }
.ko, .ko small { font-family:"Noto Sans KR", sans-serif; }
ul, li {margin : 0px; padding : 0px; list-style : none;}

/********************************************************
■ Layout : 레이아웃
********************************************************/
.wrapper { margin:0 auto; background:#fff;  }
.at-container { margin:0px auto; padding:0px; }

.page-wrap {
    padding: 10px 0 30px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.at-html{max-width:1280px; margin:0 auto;}
.boxed.wrapper .at-body .at-container { padding:0px 20px; }
.at-content { position:relative; padding:2px 0px 50px; }
.at-row { margin-left:-15px; margin-right:-15px; }
.at-col { position:relative; padding-left:15px; padding-right:15px; padding-top:20px; padding-bottom:20px; }
.nav-fixed { background: rgb(255, 255, 255); width:100%; z-index:10; left:0px; height:125px; }
@media all and (max-width:991px) {
	.responsive .at-body .at-row { margin-left:0px; margin-right:0px; }
	.responsive .at-body .at-col { padding-left:0px; padding-right:0px; }
	.responsive .pull-right.at-main,
	.responsive .pull-left.at-side { float:none !important; }
	.at-content {padding: 0px 0 15px;}
}
@media all and (max-width:1100px) {
	.responsive .at-body .at-container { padding:0px 15px !important; }
}
@media all and (min-width:992px) {
	.responsive .at-content {width:100%; margin: 0 auto}
}

/********************************************************
■ PC Menu : PC 메뉴바 배경설정
********************************************************/


/********************************************************
■ Bootstrap3 : 부트스트랩 기본속성
********************************************************/
/* Button */
.btn { font-family: "Noto Sans KR", sans-serif; }
.btn-lg { padding: 10px 16px; border-radius: 3px; line-height: 1.33; font-size: 18px; }
.btn-lg i {	top: 3px; font-size: 24px; position: relative; }
.btn-xs { padding: 4px 10px; }
.is-pc .ko .btn-xs,
.is-pc .ko .btn-sm { font-family:"Noto Sans KR", sans-serif; }

/* Panel : Accordions */
.panel { box-shadow: none; -webkit-box-shadow: none; border-radius: 0px; }
.panel-group .panel { border-radius: 0px; }
.panel .panel-heading { border-radius: 0px; }
.is-pc .ko .panel .panel-body { font-size:12px; }

/* List Group */
.list-group-item { word-break:break-all; border-radius:0 !important; }

/* Pagination */
.pagination { font-family: "Roboto", sans-serif; }
.pagination li a { border-radius:0 !important; color:#333 !important; }
.pagination li.active a { color:#fff !important; background:#444 !important; border-color:#444 !important; }

/* Progress */
.progress { position:relative; border-radius: 0px; height: 28px; overflow: hidden; margin-bottom: 15px; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1); background-color: rgb(245, 245, 245); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
.progress .sr-only { font-family: "Roboto", sans-serif; margin: 0px 15px; left: 0px; width: auto; height: 28px; line-height: 28px; font-size: 12px; clip: auto; }
.sr-score { font-family: "Roboto", sans-serif; height: 28px; line-height: 28px; font-size: 12px; padding-right:8px; }

/* Misc */
.form-control, .well, .btn, .alert, .input-group-addon, .label { border-radius:0 !important; }

/********************************************************
■ Widget : 위젯 속성
********************************************************/
/* Miso-Category Widget */
.miso-category .ca-head a { background:#222 !important; }

/* Image Round & Style */
.is-round .is-round-title { border-radius:15px; z-index:1; }
.is-round-post-img { border-radius:10px; z-index:1; }
.is-round-post,
.is-round-item,
.is-round-event,
.is-round-banner { border-radius:15px; z-index:1; }
.is-round-item.on,
.is-round-item:hover { }
.is-round-item-img { border-radius:15px 15px 0px 0px; z-index:1; }
.is-item-content { }

/* Border Color */
.border-color,
.tabs-color-top { border-color: rgb(50, 60, 70) !important; }


